h1{display: none;}
body{min-width: 320px;}
.container{width: 100%;}
.form-signin {
  min-width: 290px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"],.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/**底部导航*/
#navBox{position: fixed; bottom: 0;z-index: 2;}
#navBox .container{padding: 0;}
#navBox a{border: none;}
#navBox .glyphicon-class{display: block; text-align: center;}
#navBox .nav-icon{font-size: 24px;}
.indexBox{height: 100%; background: #ccc;}
html,body{height: 100%;}
/*顶部导航*/
#navBoxTop{z-index: 1;}
.nav-top-menu, .nav-top-add{ position: absolute; top: 0; left:0; border: none; font-size: 20px; padding: 14px 9px 8px;}
.nav-top-add{left: auto; right: 0;}
.my-task{text-align: center; font-size: 26px; padding: 0; margin: 0; line-height: 50px;}

/*侧导航*/
.bg-gay{display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.6;z-index: 10;}
#navBoxLeft{display: block; height: 100%;width: 60%; left: -100%; min-width: 200px; margin-top: 51px;z-index: 11;}
#navBoxLeft .container{ padding: 0;}
#navBoxLeft .list-group{font-size: 20px;}
/*add*/
#navBoxRight{display: block; width: 100%; height: 100%; left: auto; top: 0; right: -100%; background: #fff; z-index: 2;}
#navBoxRight .container{ padding: 0;}
#navBoxRight header{height: 50px;}
#navBoxRight header nav{margin: 0;}
#navBoxRight header nav h3{text-align: center; margin: 0; line-height: 50px;}
#navBoxRight header a{position: absolute; top: 0; left:0; border: none; font-size: 20px; padding: 14px 9px 8px;}
#navBoxRight header .nav-save{left: auto;right: 0}
#navBoxRight header .nav-save span{margin-right: 5px;}
#edit-textarea{position: absolute;top: 52px; bottom: 0px; width: 100%; background: #ddd;}
.text-box{height: 100%; line-height: 30px; font-size: 20px; padding: 0 10px;}

/*首页列表*/
#task-list{height: 100%; background: #fff; overflow-y:scroll; }
#task-list .list-group-top{height: 51px;}
#task-list .list-group-bottom{height: 62px;}
#task-list .panel-info{border: none;}
#task-list .panel-heading{border:none;}
#task-list .panel-body{padding: 0;}
#task-list .list-group{margin-bottom: 0;}
#task-list .list-group-item:last-child{border-radius: 0;}
#task-list .list-group-item{position: relative;}

#task-list .item-row{position:absolute; top: 0;left: 0; width: 100%; height: 100%;}
#task-list .item-comm{position: relative;display: block;padding: 10px 5px;text-align: center; background-color: #fff;}
#task-list .item-name{text-align: left;}
#task-list .item-over{position: absolute;right: -25%; top: 0; width: 25%; background: #5cb85c;}
#task-list .item-del{position: absolute;right: -50%; top: 0; width: 25%;background: #d9534f;}
#task-list .item-trans{transform: translate(-50%,0%);}

/*注册页面*/
#checkImg{}
#checkImg img{vertical-align: middle; margin: 5px 0;  height:32px;}